{% extends "base" %}

{% block content %}
<div class="splash-container">
  <div class="splash">
    <body>
      {% block question %}{% endblock question %}
    </body>
  </div>
</div>
{% endblock content %}
