{% extends "ask" %}

{% block question %}
<h3 class="splash-subhead">{{question}}</h3>
<form>
  {% for answer in answers %}
  <a href="/answer?question={{question}}&answer={{answer}}" class="pure-button pure-button-primary">{{answer}}</a>
  {% endfor %}
</form>
{% endblock question %}
